
            <div class="container-fluid">

                    <ul class="nav navbar-nav">
                        <!-- Trigger/Open The Modal -->
                        <li>
                            <button class="btn btn-lg" id="btnAbout"><b>About</b></button>
                        </li>
                    </ul>
        
                    <!-- <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/register"><button class="btn btn-lg" id="btnVolunteer"><span>Volunteer Login</span></button></a>
                        </li>
                        <li>
                            <a href="/managers"><button class="btn btn-lg" id="btnManager"><span>Manager Login</span></button></a>
                        </li>
                    </ul> -->
                </div>

        <!-- JUMBOTRON -->
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 col-sm-12">

                    <div class="container text-center">
                        <h1>Create an Account</h1>

                    </div>
                </div>
            </div>
        </div>
        <!-- END JUMBOTRON -->


        <div class="container">


            <div class="row">
                <div class="col-md-12 col-sm-12">

                    <div class="manager-container">
                        <h1>Your Information</h1>

                        <form id="manager-createAccount-form">
                            <label for="orgName">Organization Name:</label>
                            <input type="text" class="form-control" name="orgName" placeholder="Organization's Name" id="organization_name"
                                required />

                            <label for="mgrName">Your First Name</label>
                            <input type="text" class="form-control" name="mgrName" placeholder="Your first name" id="first_name"
                                required />

                            <label for="mgrLastName">Your Last Name</label>
                            <input type="text" class="form-control" name="mgrName" placeholder="Your last name" id="last_name"
                                required />

                                <label for="city">email</label>
                                <input type="text" class="form-control" name="email" placeholder="" id="email"
                                    required />

                                <label for="city">City</label>
                                <input type="text" class="form-control" name="city" placeholder="" id="city"
                                    required />
    

                            <!-- <label for="phone">Phone:</label>
                            <input type="text" class="form-control" id="phone" name="phone" size="12" minlength="12" maxlength="12"
                                pattern="\d{3}[\-]\d{3}[\-]\d{4}" placeholder="Phone number i.e. xxx-xxx-xxxx"
                                title="format 555-555-1234" required /> -->

                            <label for="mgrName">Password</label>
                            <input type="password" class="form-control" name="mgrName" placeholder="password" id="password" required
                            />

                            <label for="mgrName">Confirm Password</label>
                            <input type="password" class="form-control" name="mgrName" placeholder="password" id="passwordConf" required
                            />

                            <input class="submit" type="submit" id="mgrcreateaccount" value="Submit">

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Custom Script -->
       


