    <!-- JUMBOTRON -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>All Event Listings</h1>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Click here to create new event</button>
        </div>
    </div>
    <!-- END JUMBOTRON -->


    <!-- EVENT HEADER -->
    <div class="container-fluid sm-3 text-center">
        <h3>Events sorted by campaign</h3>
    </div>
    <!-- END EVENT HEADER -->


    <!-- EVENT LISTINGS -->
    <div class="container-fluid sm-3 text-center">
        <div class="event-row" "col-md-3 col-md-offset-3">
            <div id="listings"></div>
            <p><b>Event name: </b>South Philadelphia Polling</p>
            <p><b>Organizer Name: </b>Barack Obama</p>
            <p><b>Street: </b>1234 Passyunk Ave.</p>
            <p><b>City, State, Zip: </b>Philadelphia, PA 19148</p>
            <p><b>Phone number: </b>215-555-5555</p>
            <p><b>Time Slots: </b>Morning, Afternoon, Evening</p>


        </div>
    </div>

    <!-- END EVENT LISTINGS -->

    <footer class="container-fluid text-center">
        <p>&#169 Anonymous</p>
    </footer>
  

