
    <!-- JUMBOTRON -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>All Event Listings</h1>
            <h3>See below for available polling opportunities!</h3>
        </div>
    </div>
    <!-- END JUMBOTRON -->

    <div class="container-fluid sm-3 text-center">
        <div class="event-row" "col-md-3 col-md-offset-3">
            <p><b>Event name: </b>South Philadelphia Polling</p>
            <p><b>Organizer Name: </b>Barack Obama</p>
            <p><b>Street: </b>1234 Passyunk Ave.</p>
            <p><b>City, State, Zip: </b>Philadelphia, PA 19148</p>
            <p><b>Phone number: </b>215-555-5555</p>
            <p><b>Time Slots: </b>Morning, Afternoon, Evening</p>
            <br>
            <div class="help-button">
                <!-- <button class="btn btn-primary" id="eventreg" type="submit" data-toggle="modal" data-target="#myModal">Sign Up!</button> -->
                <a href="/login"><button class="btn btn-lg" id="eventreg">Click here to register</button></a>
            </div>
        </div>
    </div>


    <footer class="container-fluid text-center">
        <p>&#169 Anonymous</p>
    </footer>

 


